/*Файл обнуления стилей*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}


